* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: regular-Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: bold-Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
}

:root {
  /* The Fonts */
  --regualrRoboto: regular-Roboto;
  --boldRoboto: bold-Roboto;

  /* Color */
  --tomato: hsl(4, 100%, 67%);
  /* Neutral */
  --darkSlateGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}
body {
  width: 100%;
  height: ;
}

section {
}
